name: release-pls

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install LaTeX
        run: sudo apt-get update && sudo apt-get install texlive-latex-base -y
      - name: Install iodhbwm
        run: sudo tlmgr update --self && sudo tlmgr install iodhbwm
      - name: Build
        run: make -C build
